/* Estilo para la página de inicio */

/* Contenedor principal */
/* Estilo para la página de inicio */

/* Contenedor principal */
.inicio-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f57c00; /* color de respaldo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Imagen de fondo */
.fondo-completo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
  z-index: 0;
}

/* Contenido de bienvenida */
.welcome-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  animation: fadeIn 3s ease-out forwards;
}

/* Título */
.title{
  font-size: 3rem;
  font-family: "Arial", sans-serif;
  margin: 0;
  animation: slideIn 1.5s ease-out forwards;
}


/* Animación de gradiente  */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animaciones */
@keyframes slideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
